:root {
  --max-width: 1512px;
  --border-radius: 16px;
  --body-font-size: 16px;

  --background-color: #040e1e;
  --secondary-dark-50: #13316c;
  --secondary-dark-200: #0f2757;
  --secondary-dark-400: #0c1f45;
  --secondary-dark-500: #0b1b3d;
  --secondary-dark-800: #050e1e;
  --secondary-dark-950: #030811;
  --secondary-light: #7e8da9;
  --text-color: #ffffff;
  --highlight-color: #fbff20;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--body-font-size);
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}
